/*.input-group-append{
	opacity: 0;
}*/

.fa-check,.fa-remove{
	display: none;
}

.country{
	background: green; 
	padding: 10px 0 10px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

ul{
	line-height: 4;
	text-align: center;
	list-style-type: none;
	color: white
}

ul li{
	border-bottom: 2px solid green;
}

.sub{
	position: absolute;
	right: 2%;

}